.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.192);
  backdrop-filter: blur(1px);
}

.modal {
  background-color: white;
  height: fit-content;
  width: 55rem;
  border-radius: 2rem;
  overflow: hidden;
}
