@media (pointer: coarse) {
  .parallax-image {
    view-timeline-name: --parallax-image;
    view-timeline-axis: block;
    animation: linear parallaxMove both;
    animation-timeline: --parallax-image;
    animation-range: entry 0% exit 100%;
    height: 125%;
  }
}

@keyframes parallaxMove {
  0% {
    object-position: center 0;
  }
  100% {
    object-position: center -3rem;
  }
}
