.gradientText {
  position: relative;
  color: var(--shadow-color);
}

.gradientText::after {
  content: attr(data-text);
  position: absolute;
  left: var(--offset-x, 0);
  top: var(--offset-y, 0);
  white-space: pre;
  background: linear-gradient(
    var(--gradient-direction),
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}
