/* Code Card Aspect Ratio: 0.625 */

.codeCardContainer {
  --aspect-ratio: 0.625;
  --min-width: 260px;
  --max-width: 480px;

  width: 100%;
  position: relative;
  padding-top: 62.5%; /* This sets the top padding to 62.5% of the element's width */
}

/* Inner content should be positioned absolutely within .codeCardContainer */
.codeCardContent {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: var(--min-width);
  min-height: calc(var(--min-width) * var(--aspect-ratio));

  max-width: var(--max-width);
  max-height: calc(var(--max-width) * var(--aspect-ratio));
}
