.markdown p {
  margin: 0.5rem 0;
}

.markdown h2 {
  font-weight: 700;
  margin-bottom: 0.25rem /* 4px */;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.markdown ul,
.markdown ol {
  padding-left: 2rem;
}

.markdown ul {
  list-style-type: disc;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown a {
  --tw-text-opacity: 1;
  color: rgb(2 132 199 / var(--tw-text-opacity));
}
